{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
    </head>
    <body onload="load()" style="background-color:#BEBEBE">
        <header class="page-header">
            <div class="container" style="text-align:center">
                <h1 style="text-align:center" style="color:green"><b>Amazon Price Alert App</b></h1>
            </div>
        </header>

    <center>
        <form action="add_product" method='POST'>{% csrf_token %}
            <div float="left">
                <p>Amazon-Link:</p>
                <input id="amzn_url" name="amzn_url" style="display: inline-block; width: 800px">
                <br>
                <p>Wunschpreis:</p>
                <input id="desired_price" name="desired_price">
                <p>€</p>
            </div>
            <br>
            <button name="add_product_to_list" type="submit" class="button1" role="button">Hinzufügen</button>
        </form>
    </center>


        <div style="overflow-x: auto;">
            <table className="padding-table-columns" class="styled-table">
                <!-- data attribute names -->
                <thead>
                    <tr>
                        <th style="width:5%;">Bild</th>
                        <th style="width:20%">Titel</th>
                        <th style="width:5%">URL</th>
                        <th style="width:5%">Aktueller Preis</th>
                        <th style="width:10%">Wunschpreis</th>
                        <th style="width:5%">Löschen</th>
                    </tr>
                </thead>

                <!-- data sets -->
                    {% for prod in products %} <!-- iterieren in der Laenge (vertikal) -->
                        <tr>
                            <td style="border: 5px solid black; text-align:center; width: 5%">
                                <img style="display:block; height:100px;" src={{ prod.image }}>
                            </td>
                            <td style="border: 5px solid black;">
                               {{ prod.title }}
                            </td>
                            <td style="border: 5px solid black; width: 20%">
                                <a href={{ prod.url }} rel="noreferrer">{{ prod.url }}</a>
                            </td>
                            <td style="border: 5px solid black; text-align: center;">
                                <font color="green" size="8px">{{ prod.price }}</font>
                            </td>
                            <div style="horiz-align: center; vertical-align: center; margin:0 auto;">
                                <td style="border: 5px solid black;">
                                    <font color="green" size="8px">{{ prod.preferred_price }}€</font>
                                </td>
                            </div>
                            <td>
                                <form action="delete_product" method="POST">{% csrf_token %}
                                    <button name="delete_product_from_list" type="submit" value= {{ forloop.counter0 }}>Entfernen</button>
                                </form>
                            </td>
                        </tr>
                {% endfor %}
          </table>
        </div>

    <script type="text/javascript">
        function load() {
            // refresh page every x seconds
            var refresh_time_seconds = 60;
            setTimeout("window.open('http://127.0.0.1:7000', '_self');", refresh_time_seconds * 1000);
        }
    </script>

    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
            function juckt() {
                var bla = $('amzn_url').val();
                console.log("Bla", bla);
            }
            function send_value(){
                 $.ajax({
                     url: '/target_view/',
                     method : 'POST',
                     data: {quantity: $('#theInput').val()},
                     beforeSend: function() {
                      // things to do before submit
                     },
                     success: function(response) {
                        alert(response)
                     }
                 });
             }

             $('#username_exists_form').on('submit',function(e){
                e.preventDefault();
                var username = $(this).find('input').val();
                $.get('/exists/',
                      {'username': username},
                      function(response){ $('#response_msg').text(response.msg); }
                );
             });

             function btn_click() {
                 var x = [document.getElementById('amzn_url').value, document.getElementById('desired_price').value]
                 console.log(document.getElementById('amzn_url').value)
                 return x
             }
        </script>
        -->

    </body>
</html>
